.ravan-boat {
	background-image: url("img/shipicon.png");
	height: 200px;
	width: 200px;
	padding: 10px;
	text-align: left;
}
.ravan-bomb {
	background-image: url("img/bomb.png");
	height: 200px;
	width: 200px;
	padding: 10px;
	text-align: left;
}
.ravan-exploided-bomb {
background-image: url("img/exploided_bomb.png");
	height: 200px;
	width: 200px;
	padding: 10px;
	text-align: left;
}